<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>874878264342-jvqai767pdint8883mgvca57dpj2mjee.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.874878264342-jvqai767pdint8883mgvca57dpj2mjee</string>
	<key>API_KEY</key>
	<string>AIzaSyCtqUsMr_QnvRUooSP_9k1z_EX15DehEBE</string>
	<key>GCM_SENDER_ID</key>
	<string>874878264342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>haiphan.AnimeDraw</string>
	<key>PROJECT_ID</key>
	<string>animedraw-79982</string>
	<key>STORAGE_BUCKET</key>
	<string>animedraw-79982.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874878264342:ios:a36c4e6434cfad76a7c137</string>
</dict>
</plist>